@{
    ViewBag.Title = "Error";
}
<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>

    <img src="~/error.png" width="250px" style="margin-top:25px" />
</div>